refer this thread from [stack overflow](https://stackoverflow.com/questions/10556048/how-to-extract-tables-from-websites-in-python)

In [1]:
import requests
import pandas as pd

In [2]:
url1 = 'http://www.ffiec.gov/census/report.aspx?year=2011&state=01&report=demographic&msa=11500'
html1 = requests.get(url1).content

In [3]:
df_list = pd.read_html(html1)
df = df_list[-1]

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,County Code,Tract Code,Tract Income Level,Distressed or Under -served Tract,Tract Median Family Income %,2011 HUD Est. MSA/MD non-MSA/MD Median Family ...,2011 Est. Tract Median Family Income,2000 Tract Median Family Income,Tract Population,Tract Minority %,Minority Population,Owner Occupied Units,1- to 4- Family Units
1,015,0001.00,Moderate,No,74.23,"$51,500","$38,228","$29,615",2279,45.77,1043,431,894
2,015,0002.00,Middle,No,86.40,"$51,500","$44,496","$34,468",3084,42.44,1309,881,1543
3,015,0003.00,Moderate,No,59.27,"$51,500","$30,524","$23,644",3545,78.87,2796,637,1562
4,015,0004.00,Moderate,No,76.24,"$51,500","$39,264","$30,417",2777,59.42,1650,908,1335

In [5]:
url2 = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'
html2 = requests.get(url2).content

In [8]:
df_list2 = pd.read_html(html2)
df2 = df_list2[-2]

In [9]:
df2.head()

,0,1,2,3,4,5
0,Rank,Country (or dependent territory),Population,Date,% of world population,Source
1,1,China[Note 2],1388950000,"January 30, 2018",18.3%,Official population clock
2,2,India[Note 3],1327250000,"January 30, 2018",17.5%,Official population clock
3,3,United States[Note 4],326542000,"January 30, 2018",4.3%,Official population clock
4,4,Indonesia,261890900,"July 1, 2017",3.45%,Official annual projection