## Numpy rutine

In [2]:
import numpy as np

### One-D array

**1. Create a 1-D array**

In [35]:
arr1 = np.array([1,2,3,4,3])
print arr1

[1 2 3 4 3]

In [36]:
arr2 = np.array([3,2,6, 8, 3], float)
print arr2

[ 3.  2.  6.  8.  3.]

**Slice 1-D array**

In [37]:
print arr1[:2]

[1 2]

In [38]:
print arr2[3:]

[ 8.  3.]

In [39]:
print arr1[1:4]

[2 3 4]

### Two-D array
**Create a 2-D array**

In [40]:
arr3 = np.array([[1,2,3],[4,5,6],[7,8,9]])
print arr3

[[1 2 3]
 [4 5 6]
 [7 8 9]]

**Slice 2-D array**

In [41]:
arr3[:, 2]

array([3, 6, 9])

In [42]:
arr3[2][2]

9

In [43]:
arr3[2,2]

9

In [44]:
arr3[:,[0,2]]

array([[1, 3],
       [4, 6],
       [7, 9]])

In [45]:
arr3[[1,2], [1,2]]  ## check how it work

array([5, 9])

**Slice array with boolean index**

In [47]:
print (arr3==3)

[[False False  True]
 [False False False]
 [False False False]]

In [48]:
print arr3[arr3==3]

[3]

In [49]:
print(arr3 > 4)

[[False False False]
 [False  True  True]
 [ True  True  True]]

In [50]:
print arr3[arr3>4]

[5 6 7 8 9]

### Special array

In [53]:
arr4 = np.zeros(3)
print arr4

[ 0.  0.  0.]

In [56]:
arr4 = np.zeros([3,3])
print arr4

[[ 0.  0.  0.]
 [ 0.  0.  0.]
 [ 0.  0.  0.]]

In [59]:
arr5 = np.eye(3)
arr5

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [61]:
arr5 = np.eye(4)
arr5

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.]])

### Array indexing

In [62]:
arr5[2,3] = 8
arr5

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  8.],
       [ 0.,  0.,  0.,  1.]])

In [63]:
arr4[2] = 100
arr4

array([[   0.,    0.,    0.],
       [   0.,    0.,    0.],
       [ 100.,  100.,  100.]])

### Array transpose

In [68]:
arr = np.array([[1,2,3], [4,5,6]])
print arr

[[1 2 3]
 [4 5 6]]

In [69]:
np.transpose(arr)

array([[1, 4],
       [2, 5],
       [3, 6]])

In [71]:
arr.T

array([[1, 4],
       [2, 5],
       [3, 6]])

### Unique value of an array

In [82]:
x = np.array([1,1,12,2,3,3,4,4,4,5,6])
print x

[ 1  1 12  2  3  3  4  4  4  5  6]

In [83]:
x1 = np.unique(x)
print x1

[ 1  2  3  4  5  6 12]

In [84]:
x = np.array([[1,2,2], [3,3,4]])
print x

[[1 2 2]
 [3 3 4]]

In [85]:
x1 = np.unique(x)
print x1

[1 2 3 4]

### Array arithmetic operations

In [78]:
arr1 = np.array([1,2,3])
print arr1

[1 2 3]

In [79]:
arr2 = np.array([3,4,5])
arr2

array([3, 4, 5])

In [80]:
arr1 + arr2

array([4, 6, 8])

In [81]:
arr1 - arr2

array([-2, -2, -2])

### Array dot products

In [86]:
a = np.array([1,2,3])
a

array([1, 2, 3])

In [87]:
b = np.array([4,5,6])
b

array([4, 5, 6])

In [88]:
np.dot(a, b.T)

32

In [89]:
np.dot(a, b)

32

In [90]:
a.dot(b)

32

In [91]:
b.dot(a)

32

In [92]:
a = np.array([[1,2,3,4], [2,3,5,6], [4,2,3,0]])
a

array([[1, 2, 3, 4],
       [2, 3, 5, 6],
       [4, 2, 3, 0]])

In [94]:
b = np.array([[1,2], [3,0],[1,0], [10,1]])
b

array([[ 1,  2],
       [ 3,  0],
       [ 1,  0],
       [10,  1]])

In [95]:
np.dot(a,b)

array([[50,  6],
       [76, 10],
       [13,  8]])

In [97]:
a.dot(b)

array([[50,  6],
       [76, 10],
       [13,  8]])

**The column number of array a must equals the row number of array b**

### Histogram

In [104]:
s = np.array([2,2,4,5,6,7,3,3,1,3,2,5,7,8,4,5,5,6,8,3])
s

array([2, 2, 4, 5, 6, 7, 3, 3, 1, 3, 2, 5, 7, 8, 4, 5, 5, 6, 8, 3])

In [105]:
unique_s = np.unique(s)
print unique_s

[1 2 3 4 5 6 7 8]

In [106]:
n = unique_s.size
print n

8

In [107]:
frequence = np.zeros(n)
print frequence

[ 0.  0.  0.  0.  0.  0.  0.  0.]

In [108]:
for i in range(0,n):
    frequence[i] = np.sum(s==i+1)
print frequence

[ 1.  3.  4.  2.  4.  2.  2.  2.]

In [109]:
import matplotlib.pyplot as plt
%matplotlib inline

### Basic Statistics

In [11]:
height = 1 + np.random.random(1000)
weight = np.random.randint(100, 200, 1000)

In [24]:
## check the difference between np.column_stack
np_city = np.array([height,  weight])

In [25]:
np_city[1, 1]

113.0

In [27]:
#calculate the mean of height
np.mean(np_city[0,:])

1.4986036437934489

In [29]:
# calculate the median of weight
np.median(np_city[1,:])

149.0

In [30]:
np.corrcoef(np_city[0,:], np_city[1,:])

array([[ 1.        , -0.02500808],
       [-0.02500808,  1.        ]])

In [31]:
np.std(np_city[0,:])

0.28678085560641042

In [41]:
##
heights = np.round(np.random.normal(1.75, 0.20, 5000), 2)
weights = np.round(np.random.normal(60.32, 15, 5000), 2)

np_city = np.column_stack((heights, weights))

In [42]:
np.mean(np_city[:,0])

1.7543360000000001

In [43]:
## remember mean is afected by the outlier and median is not affected by outlier
np.median(np_city[:,0])

1.76

In [45]:
# heights and positions are available as lists

# Import numpy
import numpy as np

positions = np.random.choice(['GK', 'MF', 'DF', 'FW'], 23, [0.15, 0.3, 0.3, 0.25])
heights = 1 + np.random.random(23)
# Convert positions and heights to numpy arrays: np_positions, np_heights
np_positions = np.array(positions)
np_heights = np.array(heights)


# Heights of the goalkeepers: gk_heights
gk_heights = np_heights[np_positions == 'GK']

# Heights of the other players: other_heights
other_heights = np_heights[np_positions != 'GK']

# Print out the median height of goalkeepers. Replace 'None'
print("Median height of goalkeepers: " + str(np.median(gk_heights)))

# Print out the median height of other players. Replace 'None'
print("Median height of other players: " + str(np.median(other_heights)))

Median height of goalkeepers: 1.24153553
Median height of other players: 1.45346221269

### List

In [47]:
x = [1,2,3]
## see the difference
y = x
y[1] = 10
print(y)
print(x)

[1, 10, 3]
[1, 10, 3]

In [50]:
x = [1,2,3]
## see the difference
y = x[:]
y[1] = 10
print(y)
print(x)

[1, 10, 3]
[1, 2, 3]

In [49]:
x = [1,2,3]
y = list(x)
y[1] = 10
print(y)
print(x)

[1, 10, 3]
[1, 2, 3]

In [56]:
x = [1,2,3]
y = x.copy()
y[1] = 10
print(y)
print(x)

AttributeError: 'list' object has no attribute 'copy'

In [57]:
del(y[1])
print(y)

[1]

### Function

In [59]:
max(x)

3

In [60]:
round(1.68, 1)

1.7

In [61]:
round(1.68)

2.0

In [62]:
help(round)

Help on built-in function round in module __builtin__:

round(...)
    round(number[, ndigits]) -> floating point number

    Round a number to a given precision in decimal digits (default 0 digits).
    This always returns a floating point number.  Precision may be negative.

In [63]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first + second

# Sort full in descending order: full_sorted
full_sorted = sorted(full, reverse=True)

# Print out full_sorted
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]

In [64]:
family = ['father', 'mom', 'brother', 'sister']

family.index("mom")

1

In [80]:
greeting = 'hello wolrd'

greeting.capitalize()  # capitalize the first letter

'Hello wolrd'

In [81]:
greeting.replace("lr", "rl")

'hello world'

In [82]:
greeting

'hello wolrd'

In [84]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place: place_up
place_up = place.upper()

# Print out place and place_up
print(place)
print(place_up)

# Print out the number of o's in place
print(place.count('o'))

# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

# Print out how often 9.50 appears in areas
print(areas.count(9.50))

poolhouse
POOLHOUSE
3
2
1

In [87]:
a = [2,5,3,8,7,0]
a.reverse()
print(a)

[0, 7, 8, 3, 5, 2]

In [88]:
b = a.reverse()
print(b)

None

In [90]:
"""
Calculate the distance travelled by the Moon over 12 degrees of its orbit. Assign the result to dist. You can calculate 
this as r * phi, where r is the radius and phi is the angle in radians. To convert an angle in degrees to an angle in radians, 
use the radians() function, which you just imported.
"""

# Definition of radius
r = 192500

# Import radians function of
from math import radians

# Travel distance of Moon over 12 degrees. Store in dist.
dist = r * radians(12)

# Print out dist
print(dist)

40317.1057211